{% include "home/includes/base.html" %}


<body class="profile">

  <div class="container-fluid p-0 position-relative">
   <div class="page-title dark-background" style="max-height:20px; background: black;" ></div>
    <img src="{{profile.avatar.url}} " alt="Avatar" class="rounded-circle border border-white position-absolute" style="width:120px; bottom:-60px; left:20px;">
  </div>

  <!-- Info utilisateur -->
  <section class="container mt-2 section ">
    <div class="d-flex justify-content-between align-items-start "  >
      <div>
        <h2 class="mb-1"> {{ staff.title|capfirst }} {{ staff.name|capfirst }} {{ staff.firstname|capfirst }}</h2>
        <h6 class="text-muted ">  <span class="bi bi-mortarboard"></span> {{staff.degree|capfirst }}  en  {{staff.faculty|capfirst }}</h6>
        <h6 class="text-muted ">  <span class="bi bi-briefcase"></span> {{staff.role.all|join:", "}} </h6>
      </div>
      <div>
        <button class="btn btn-outline-secondary me-2">Modifier le profil</button>
        <!-- ou, si ce n'est pas le profil personnel :
        <button class="btn btn-primary">Suivre</button> -->
      </div>
     
    </div>
    <p class="mt-2" > {% if profile.bio %}{{profile.bio}}{% endif %}</p>
   

    <!-- Statistiques -->
    

    <!-- Onglets -->
  

   
 
        <div class="row">
          <div class="col-lg-3" data-aos="fade-up" data-aos-delay="300">
            <div class="departments-nav">
              
                <ul class="nav nav-tabs">
                <li class="nav-item" ><button class="nav-link active" data-bs-toggle="tab" data-bs-target="#faculty--staff-tab-1">Info</button></li>
                <li class="nav-item"><button class="nav-link"  data-bs-target="#faculty--staff-tab-2">Réponses</button></li>
                <li class="nav-item"><a class="nav-link" href="#">Médias</a></li>
                </ul>
            </div>
          </div>

          <div class="cards" data-aos="fade-up" data-aos-delay="400">
            <div class="tab-content">

                <div class="tab-pane fade  show active " id="faculty--staff-tab-1">
                  <div class="department-info mb-4">
                    <h3>option </h3>
                  </div>
                  <div class="row g-4">
                      <div class="col-md-6 col-lg-4">
                        <div class="faculty-card">
                         
                          <div class="faculty-info">
                            <h4>nommmmm</h4>
                            <p class="faculty-title"> jjjjjj </p>
                            <div class="faculty-specialties">
                                      <span>hhhhhh</span>
                            </div>
                            <div class="faculty-contact">
                                <a href="mailto:"><i class="bi bi-envelope"></i> Email</a>
                              <a href="" class="profile-link"><i class="bi bi-person"></i> Profile</a>
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>

                 <div class="tab-pane fade " id="faculty--staff-tab-2">
                  <div class="department-info mb-4">
                    <h3>option </h3>
                  </div>
                  <div class="row g-4">
                      <div class="col-md-6 col-lg-4">
                        <div class="faculty-card">
                         
                          <div class="faculty-info">
                            <h4>toiiiiiiii</h4>
                            <p class="faculty-title"> jjjjjj </p>
                            <div class="faculty-specialties">
                                      <span>hhhhhh</span>
                            </div>
                            <div class="faculty-contact">
                                <a href="mailto:"><i class="bi bi-envelope"></i> Email</a>
                              <a href="" class="profile-link"><i class="bi bi-person"></i> Profile</a>
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
            </div>
          </div>
       
  </section>

  
{% include "home/includes/foot.html" %}

{% include "home/includes/footer.html" %}

