
  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.webp" alt=""> -->
        <i class="bi bi-buildings"></i>
        <h1 class="sitename">NiceSchool</h1>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="{% url "general:index" %}" class="a">Acceuil</a></li>
          <li ><a href="{% url "general:about" %}">A propos </a></li>

          <li><a href="{% url "staff:dean" %}">Doyen</a></li>
          <li><a href="news.html">News</a></li>
          <li><a href="{% url "general:event" %}">Evennements</a></li>
           <li><a href="{% url "staff:staff" %}">Staff</a></li>

          <li><a href="">Contact</a></li>
          <li><a href="" style="  " class="title">Login</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

    </div>
  </header>
